body{
    color: #1F3F68;
    font-family: Roboto;
}

div{
    padding: 16px;
    }
header{
    display: flex;
    flex-direction: column ;
    background: url(../img/background-g8d03bed2a_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}  
.back{
    padding: 3px 7px;
    border-radius: 5px ;
    background-color: rgb(207, 211, 230);
    border: 1px solid slategrey;
    color: #1F3F68;
    text-decoration-line:  none;
    margin-top: 5px;
    display: inline-block;
}
.back:hover{
    text-decoration-line: underline;
}
.header{
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 74px;
letter-spacing: 0.04em;
text-align: center;
 }
 .logo{
    align-self: center;
    margin-bottom: 30px;
 }
.navigator{
display: flex;
justify-content: space-around;
list-style: none;
text-decoration-line:  none;
}
nav{
    margin-top: 40px;;
}
.text_nav{
    text-decoration-line:  none;
    text-transform: uppercase;
    color: #1F3F68;
    border: 1px solid slategrey;
    padding: 10px 15px;
    border-radius: 5px ;
    background-color: rgb(207, 211, 230);
    margin-top: 60px;
}
.text_nav:hover{
    text-decoration-line:underline
}
.form_reg{
text-transform: uppercase;
text-align: center; 
margin-top: 50px;
}
.input_text{
    border: 1px solid #356EAD;
    max-width: 480px;
    min-width: 300px;
    height: 50px;
    border-radius: 10px;
    opacity: 0.4;
    margin-top: 5px;    
}
.itog{
    margin-bottom: 30px;
    list-style: none;
}
.textarea{
    max-width: 480px;
    min-width: 280px;
}
#report{
    border: 1px solid #356EAD;
    border-radius: 10px; 
    opacity: 0.4;
    margin-top: 5px;
}
.button{
    border: 1px solid #356EAD;
    border-radius: 5px; 
    padding: 10px 20px;
    background-color: rgb(159, 199, 240);
}
.button:hover{
    background-color: rgb(7, 87, 87);
    color: floralwhite;
}
.form{
    display: flex;
    justify-content: space-around;
}
.form_part1{
    flex-grow: 1;
}
.form_part2{
    flex-grow: 1;
}
main{
    background: url(../img/pastel-g519ce2292_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    
}
.main{
    
    text-align: center;
    background: url(img/pastel-g519ce2292_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    
}
#section{
    padding: 5px 15px;
    border: 1px solid #356EAD;
    border-radius: 5px; 
    margin-top: 5px;
}
.checkbox{
    border: 1px solid #356EAD;   
}
.checked .toggle {
    display:none;
}
.checked input[type=checkbox]:checked ~ .toggle
{
    display:block;
}
@media (max-width:667px){
   .itog{
    display: inline-flex
   }
    nav{
        width: 100%;
    
    }

   .navigator{
       flex-direction: column;
       align-items: center;
       
   }
   li {  margin-bottom: 35px;       
   }
   
   
  
   .form{
       flex-direction: column;
   }
   footer{
       margin-left: 8%;
   }
}
@media (min-width: 668px) and (max-width: 1024px){
    
    .form{
        flex-direction: column;
    }
}
#gall {
    position: relative;
    padding-top: 50%;
    -moz-user-select: none; user-select: none;
  }
  #gall img {
    position: absolute;
    top: 25%;
    left: 12.5%;
    max-width: 24.5%;
    max-height: 49.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: zoom-in;
    transition: .2s;
  }
  #gall img:nth-child(4n-2) {left: 37.5%;}
  #gall img:nth-child(4n-1) {left: 62.5%;}
  #gall img:nth-child(4n) {left: 87.5%;}
  #gall img:nth-child(n+5) {top: 75%;}
  
  #gall img:focus {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    outline: none;
    pointer-events: none;
  }
  #gall img:focus ~ div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    cursor: zoom-out;
  }